.transparent-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition:
    background-color var(--transition-fast),
    border-color var(--transition-fast),
    color var(--transition-fast);

  /* Undo Pico */
  padding: 0;
  margin-bottom: 0;
  line-height: 1;
}

.transparent-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/*
.transparent-button:not(:disabled):not(.transparent-button--no-hover):hover {
	color: var(--hover-color);
}
*/
